<br>
<br>
<br>
<br>
<div class="mx-auto" style="width: 200px;">
  <h1>Uncle Nasser</h1>
  <%= image_tag("nasser.jpg", :alt=> "uncle nasser", :width=> "200", :height=> "40", :class=> "img-thumbnail rounded mx-auto d-block")%>
  <h5>"What is your question my young Padawan Learner?"</h5>
  <p>(please make it a yes or no question)</p>
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
