<br>
<br>
<br>
<br>
<div class="mx-auto" style="width: 400px;">
  <div class="p-3 mb-2 bg-light text-dark rounded-pill">
    <h1 class="text-center">Uncle Nasser</h1>
  </div>
  <br>
  <div>
    <%= image_tag("nasser.jpg", :alt=> "uncle nasser", :width=> "200", :height=> "40", :class=> "img-thumbnail rounded mx-auto d-block")%>
  </div>
  <br>
  <div class="p-3 mb-2 bg-light text-dark rounded-pill">
    <h5 class="text-center">"What type of joke would you like to hear?"</h5>
    <p class="text-center">(PG, PG-13, R)</p>
  </div>
  <br>
  <div class="text-center">
    <form action="answer">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
